

.slider-body {
    position: relative;
    width: 80%; /* Giữ nguyên chiều rộng */
    height: 600px; /* Giữ nguyên chiều cao */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ẩn phần thừa */
    background: transparent; /* Nền của slider */
    margin: 0 auto; /* Căn giữa theo chiều ngang */
}

.slider_container {
    position: absolute; /* Đặt thành absolute để chiếm toàn bộ không gian */
    top: 0; /* Đặt vị trí từ trên cùng */
    left: 0; /* Đặt vị trí từ bên trái */
    width: 100%; /* Đặt chiều rộng 100% */
    height: 100%; /* Đặt chiều cao 100% */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden; /* Ẩn phần thừa */
}

.slider {
    position: relative;
    width: 400%; /* Chiều rộng của slider */
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    animation: 15s cubic-bezier(1, 0.95, 0.565, 1) sliding infinite; /* Animation */
}

.slide {
    position: relative;
    min-width: 100%;
    height: 100%;
}

    .slide img {
        width: 100%;
        height: 100%;
        object-fit: contain; /* Đảm bảo hình ảnh chiếm toàn bộ không gian */
    }

    .slide .caption {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 1.2rem; /* Kích thước chữ cho caption */
        font-weight: 600;
        color: white;
        text-transform: capitalize;
        background: rgba(0, 0, 0, 0.5); /* Nền mờ cho chữ */
        padding: 0.5rem; /* Padding cho caption */
        width: 100%; /* Đảm bảo chữ chiếm toàn bộ chiều rộng */
        text-align: left; /* Căn trái cho văn bản */
        z-index: 10; /* Đảm bảo caption nằm trên hình ảnh */
    }


@keyframes sliding {
    0% {
        transform: translateX(0%); /* Bắt đầu tại sản phẩm đầu tiên */
    }

    25% {
        transform: translateX(-100%); /* Di chuyển đến sản phẩm thứ 2 */
    }

    50% {
        transform: translateX(-200%); /* Di chuyển đến sản phẩm thứ 3 */
    }

    75% {
        transform: translateX(-300%); /* Di chuyển đến sản phẩm thứ 4 */
    }

    100% {
        transform: translateX(0%); /* Quay lại sản phẩm đầu tiên */
    }
}



